In [1]:
import pandas as pd
import numpy as np

In [2]:
np_array = np.random.randint(1, 100, size=(10, 10))

In [3]:
df = pd.DataFrame(np_array, columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

In [4]:
df

    A   B   C   D   E   F   G   H   I   J
0  76  61  36   5  83  96   6  55   4  40
1  79  98  95  63  79  35   4  47   5  25
2  24  75  97  73  82  16  76  75   9  86
3  52   3   9  77  84  28  14  10  74  66
4  76  10  63  93  27  70  88  82  72  39
5  75  84   8  16   6  81   1  73  87  75
6  89  58  53  15  88  49  72  86  20  56
7   9  41  18  11  42  98  58  98  43  19
8  77  18  69  38  65  31   1  21  78   8
9  56  45  99  27  40  79  47  85  64  39