In [22]:
import pandas as pd
import numpy as np

In [23]:
np_array = np.random.randint(1, 100, size=(10, 10))

In [35]:
np_array

array([[67, 56, 48, 83,  6,  9, 36, 57, 20, 63],
       [97, 52,  7, 86, 58, 99, 78, 78,  6,  2],
       [81, 24, 84, 63, 26, 83, 48,  5, 35, 80],
       [99, 20, 74, 69, 51, 19, 86, 44, 14, 94],
       [15,  5,  6, 33, 32, 83, 88, 51, 96, 12],
       [73, 99, 32, 16, 91, 44,  6,  5, 76, 12],
       [18, 69, 58, 47, 64, 95, 31, 90, 72, 35],
       [43, 15, 83, 86, 65, 59, 41, 60, 41, 39],
       [84, 70, 68, 94, 21,  3,  5, 89,  4, 94],
       [86, 67, 41, 18, 30, 35, 16, 88, 66, 43]])

In [24]:
df = pd.DataFrame(np_array, columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

In [25]:
df

    A   B   C   D   E   F   G   H   I   J
0  67  56  48  83   6   9  36  57  20  63
1  97  52   7  86  58  99  78  78   6   2
2  81  24  84  63  26  83  48   5  35  80
3  99  20  74  69  51  19  86  44  14  94
4  15   5   6  33  32  83  88  51  96  12
5  73  99  32  16  91  44   6   5  76  12
6  18  69  58  47  64  95  31  90  72  35
7  43  15  83  86  65  59  41  60  41  39
8  84  70  68  94  21   3   5  89   4  94
9  86  67  41  18  30  35  16  88  66  43

In [26]:
df['K'] = np.random.randint(1, 51, size=len(df))

In [27]:
df['K']

0    21
1    12
2    13
3    39
4    19
5    38
6    44
7    18
8    17
9    25
Name: K, dtype: int32

In [28]:
mean_A = df['A'].mean()
median_A = df['A'].median()
std_A = df['A'].std()

In [29]:
mean_A

66.3

In [30]:
median_A

77.0

In [31]:
std_A

30.69943901043723

In [32]:

max_K = df['K'].max()
min_K = df['K'].min()

In [33]:
max_K

44

In [34]:
min_K

12