In [1]:
import pandas as pd
import numpy as np

In [2]:
np_array = np.random.randint(1, 100, size=(10, 10))

In [3]:
np_array

array([[92, 48, 25, 89, 28, 18, 50,  6, 75, 50],
       [34,  2, 86, 37, 92, 74, 27, 18, 80, 56],
       [88, 39, 10, 35, 13, 81, 60, 26, 56, 92],
       [19,  6, 20, 52, 76, 76, 94, 71, 83, 48],
       [ 7, 62, 99, 47,  2, 92, 49, 23, 95, 64],
       [65, 16, 76, 55, 60, 87, 61, 28,  5, 33],
       [43,  3, 22, 90, 72, 68, 70, 23, 85, 23],
       [ 6,  7, 32, 81, 93, 48,  1, 89, 89, 30],
       [98, 51, 88, 21, 20, 87, 48, 81, 45, 99],
       [61, 63, 80, 79, 84, 17, 66, 18, 91, 76]])

In [4]:
df = pd.DataFrame(np_array, columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

In [5]:
df

    A   B   C   D   E   F   G   H   I   J
0  92  48  25  89  28  18  50   6  75  50
1  34   2  86  37  92  74  27  18  80  56
2  88  39  10  35  13  81  60  26  56  92
3  19   6  20  52  76  76  94  71  83  48
4   7  62  99  47   2  92  49  23  95  64
5  65  16  76  55  60  87  61  28   5  33
6  43   3  22  90  72  68  70  23  85  23
7   6   7  32  81  93  48   1  89  89  30
8  98  51  88  21  20  87  48  81  45  99
9  61  63  80  79  84  17  66  18  91  76

In [6]:
df['K'] = np.random.randint(1, 51, size=len(df))

In [7]:
df['K']

0    35
1    37
2    34
3     8
4    16
5    21
6    30
7    22
8    14
9    15
Name: K, dtype: int32

In [8]:
df_filtered = df[df['K'] > 25]

In [9]:
df_filtered

    A   B   C   D   E   F   G   H   I   J   K
0  92  48  25  89  28  18  50   6  75  50  35
1  34   2  86  37  92  74  27  18  80  56  37
2  88  39  10  35  13  81  60  26  56  92  34
6  43   3  22  90  72  68  70  23  85  23  30

In [10]:
count_filtered_rows = df_filtered.shape[0]

In [11]:
count_filtered_rows

4

In [12]:
unique_values_B = df['B'].unique()

In [13]:
unique_values_B

array([48,  2, 39,  6, 62, 16,  3,  7, 51, 63])